:root { 
  --gris: #858585ea;
  --grisDos: #9f9f9f; 
  --grisTres: #c8c8c8; 
  --grisCuatro: #e3e3e3; 
  --grisCinco: 	#f1f1f1; 
  background-color: black;
}


header { 
  text-align: center;
}

li { 
  margin-bottom: 10px;
}

#home {
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 85vh;
}
