@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
.cool-font { 
  font-family: 'Coming Soon', sans-serif;
}

#home { 
  height: 100vh;
  font-weight: bold;
}

.border-d { 
  border: 5px dashed #000;
  border-radius: 295px 15px 250px 15px/15px 250px 15px 295px;
}

.border-d-secondary { 
  border: 3px dashed #000;
  border-radius: 295px 15px 250px 15px/15px 250px 15px 295px;
}

.border-btn {
  border: 3px solid #000;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; 
}

button { 
  padding: 5%;
  background-color: white;
  border: 1px solid black;
  color: black;
  width: 100%;
  font-size: 25px;
}

button:hover#about-btn { 
  background-color: #4D77FF;
  color: white;
  transition: ease-out 0.25s;
}

button:hover#projects-btn { 
  background-color: #FFB200;
  color: white;
  transition: ease-out 0.25s;
}

button:hover#contact-btn { 
  background-color:#7FB77E;
  color: white;
  transition: ease-out 0.25s;
}

button:hover#resume-btn { 
  background-color: #7743DB;
  color: white;
  transition: ease-out 0.25s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

img { 
  padding: 1em;
  width: 100%;
  height: 75vh;
  max-height: 500px;
  object-fit: cover;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.text { 
  font-size: 1.3rem;
}

#about-title { 
  border-bottom: 3px solid #4D77FF;
  border-bottom-right-radius: 225px 25px;
  border-bottom-left-radius: 25px 300px;
}

#project-title { 
  border-bottom: 3px solid #FFB200;
  border-bottom-right-radius: 225px 25px;
  border-bottom-left-radius: 25px 300px;
}

#contact-title { 
  border-bottom: 3px solid #7FB77E;
  border-bottom-right-radius: 225px 25px;
  border-bottom-left-radius: 25px 300px;
}

.card-title { 
  border-bottom: 3px solid #FFB200;
  border-bottom-right-radius: 225px 25px;
  border-bottom-left-radius: 25px 300px;
  font-size: 2rem;
}

.fa {  
  padding: 25px;  
  width: 100%;
  height: 100px;
  text-align: center;   
  font-size: 50px !important;  
  text-decoration: none;
  color: black;
  background-color: white;
  border: 3px solid black;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; 
}  

.fa:hover { 
  background-color: #7FB77E;
  color: white;
  transition: ease-out 0.25s;
}